<% is_playground = message.chat.playground_channel? || message.chat.public_playground_channel? %>
<div id="<%= dom_id(message) %>">
  <% if message.sender == "user" %>
    <div class="chat chat-start">
      <% unless is_playground %>
        <div class="chat-header text-gray-500">
          <%# TODO: various queries per message, fix this %>
          <%= message&.chat&.contact&.name %>
        </div>
      <% end%>
      <div class="chat-bubble relative">
        <%= markdown(message.content) %>
      </div>
    </div>
  <% end %>

  <% if message.sender == "assistant" %>
    <div class="chat chat-end">
      <% unless is_playground %>
        <div class="chat-header text-gray-500">
          <%= message.message_type.humanize %>
        </div>
      <% end%>
      <div class="chat-bubble chat-bubble-primary"><%= markdown(message.content) %></div>
      <% unless is_playground %>
        <div class="chat-footer opacity-50 relative mr-2">
          <% if message.status == "sent" %>
            <%= icon "check", variant: "outline", class: "size-4 absolute top-0 left-0 text-gray-500" %>
          <% elsif message.status == "delivered" %>
            <%= icon "check", variant: "outline", class: "size-4 absolute top-0 left-0 text-gray-500" %>
            <%= icon "check", variant: "outline", class: "size-4 absolute top-0 left-1 text-gray-500" %>
          <% elsif message.status == "read" %>
            <%= icon "check", variant: "outline", class: "size-4 absolute top-0 left-0 text-blue-500" %>
            <%= icon "check", variant: "outline", class: "size-4 absolute top-0 left-1 text-blue-500" %>
          <% end%>
        </div>
      <% end%>
    </div>
  <% end %>
</div>
