<%= turbo_frame_tag "chat_interface_#{conversation.id}_form_frame" do %>
  <%= form_with model: Message.new, url: messages_path, method: :post, id: "chat_interface_form", class: "p-2", data: { controller: "form", action: "turbo:submit-end->form#clear" } do |f| %>
    <%= f.hidden_field :conversation_id, value: conversation.id %>
    <%= f.hidden_field :sender, value: "assistant" %>
    <%= f.hidden_field :message_type, value: :manual %>
    <div class="flex flex-grow gap-1">
      <%= f.text_field :content, class: "input w-full", disabled: (!conversation.intervention_enabled? || !conversation.whatsapp_reply_window_open?), placeholder: "Escribe tu mensaje aquí..." %>
      <%= button_tag type: "submit", class: "btn btn-primary hover:bg-primary/80", disabled: (!conversation.intervention_enabled? || !conversation.whatsapp_reply_window_open?) do %>
        <%= icon "paper-airplane", variant: "outline", class: "size-4" %>
      <% end %>
    </div>
  <% end %>
<% end %>
