<%= turbo_frame_tag "chat_interface_header_frame", class: "h-16" do %>
  <div class="w-full h-full p-4 flex border-b border-gray-200 bg-base-200/20">    
    <div class="w-full flex justify-between items-center">
      <div class="flex flex-col">
        <p class="text-sm text-gray-500 font-semibold">
          <%= conversation&.contact&.name %>
        </p>
        <p class="flex items-center gap-1 text-gray-500 text-sm">
          <%= icon "user-circle", variant: "outline", class: "size-5" %> +<%= conversation&.contact&.phone_number %>
        </p>
      </div>
      <div>
        <%= button_to intervene_chatbot_conversation_path(@chatbot, conversation), method: :post, class: "btn btn-sm #{conversation.intervention_enabled? ? 'btn-success hover:btn-success/80 hover:border-success' : 'btn-error hover:btn-error/80 hover:border-error' }", disabled: (!conversation.intervention_enabled? && !conversation.whatsapp_reply_window_open?) do %>
          <% if conversation.intervention_enabled? %>
            <span class="flex items-center gap-2">
              <span class="text-sm">Reanudar Bot</span>
              <%= icon "play", variant: "solid", class: "size-5" %>
            </span>
          <% else %>
            <span class="flex items-center gap-2">
              <span class="text-sm">Pausar Bot</span>
              <%= icon "stop", variant: "solid", class: "size-5" %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>