<div id="<%= dom_id(chatbot, :responses_list) %>">
  <% if !responses.any? && !is_processing_documents.present? %>
    <div class="w-full h-64 border-2 border-dashed border-gray-300 flex flex-col justify-center items-center gap-2">
      <div id="<%= dom_id(chatbot, :no_responses_uploaded) %>">
        <div class="flex flex-col gap-2 text-center mb-4">
          <h2 class="text-xl font-semibold"><%= t('.no_faqs_title') %></h2>
          <p class="text-md font-regular"><%= t('.no_faqs_description') %></p>
        </div>
      </div>
    </div>
  <% elsif !responses.any? && is_processing_documents.present? %>
    <div id="<%= dom_id(chatbot, :processing_wrapper) %>" class="w-full h-64 border-2 border-dashed border-gray-300 flex flex-col justify-center items-center gap-2">
      <%= render "chatbots/responses/processing_loader", chatbot: chatbot %>
    </div>
  <% else %>
    <div id="<%= dom_id(chatbot, :responses_items) %>" class="flex flex-col gap-2">
      <%= render partial: "chatbots/responses/response", collection: responses, as: :response, locals: { chatbot: chatbot } %>
    </div>
    <%= render "chatbots/responses/load_more", chatbot: chatbot, pagy: pagy %>
  <% end %>
</div>
