<% content_for :sub_navigation do %>
  <%= render "shared/chatbot_header" %>
<% end %>

<% content_for :sidebar do %>
  <div class="w-64 shrink-0">
    <nav class="menu w-full bg-base-200 rounded-box">
      <li>
        <%= link_to chatbot_responses_path(@chatbot), class: "active" do %>
          FAQs
        <% end%>
      </li>
    </nav>
  </div>
<% end %>

<div class="flex justify-between">
  <h1 class="text-3xl font-bold mb-8"><%= t('.title') %></h1>
  <button class="btn btn-primary" onclick="responses_modal.showModal()"><%= t('.create_faq_button') %></button>
  <%= render partial: "modal" %>  
</div>


<div class="flex gap-6">
  <!-- Left sidebar -->
  <%#= yield :sidebar %>

  <!-- Main content area -->
  <div class="flex-1">
    <%= render "chatbots/responses/responses_list",
               chatbot: @chatbot,
               responses: @responses,
               pagy: @pagy %>
  </div>

</div>
