<% content_for :sub_navigation do %>
  <%= render "shared/chatbot_header" %>
<% end %>

<div class="flex justify-between">
  <h1 class="text-3xl font-bold mb-8"><%= t('.title') %></h1>
  <%= render partial: "chatbots/responses/actions" %>
</div>

<div class="flex gap-6">
  <!-- Left sidebar -->
  <%#= yield :sidebar %>

  <!-- Main content area -->
  <%= turbo_stream_from [ @chatbot, :responses ] %>
  <div class="flex-1">
    <%= render "responses_list", chatbot: @chatbot, pagy: @pagy, responses: @responses, is_processing_documents: @is_processing_documents %>
  </div>

</div>
