<% content_for :sub_navigation do %>
  <%= render "shared/chatbot_header" %>
<% end %>

<div class="flex justify-between">
  <h1 class="text-3xl font-bold mb-8">Products</h1>

  <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-primary m-1">Actions <%= icon "arrow-down", class: "size-4" %></div>
    <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
      <li><a onclick="product_modal.showModal()">Create Product</a></li>
      <!-- <li><a onclick="import_products_modal.showModal()">Import CSV</a></li> -->
    </ul>
  </div>
    
  <%= render partial: "chatbots/products/modal" %>
  <%= render partial: "chatbots/products/import_products_modal" %>
</div>

<div id="products_table">
  <%= render partial: "table_or_empty", locals: { products: @products } %>
</div>


