<%= form_with(model: chatbot, url: chatbot_playground_path(chatbot), method: :patch, class: "space-y-6", id: "sidebar_form") do |f| %>

  <!-- Public URL -->
  <div class="form-control" id="public-url">
    <label class="label">
      <span class="label-text"><%= t('chatbots.playground.sidebar_form.share_link_label') %></span>
    </label>
    <div class="join w-full">
      <label class="input join-item w-full">
        <input
          type="text"
          class="w-full bg-transparent outline-none"
          value="<%= chatbot.public_url %>"
          disabled
          readonly
          id="public-url-input"
          tabindex="-1"
        />
      </label>
      <button
        type="button"
        class="btn btn-primary join-item relative"
        title="Copy to clipboard"
        data-controller="clipboard"
        data-action="click->clipboard#copy"
        data-clipboard-target="button"
      >
        <%= icon "clipboard", class: "size-4" %>
        <span data-clipboard-target="tooltip" class="absolute -top-8 left-1/2 -translate-x-1/2 tooltip tooltip-primary tooltip-open hidden" data-tip="<%= t('chatbots.playground.sidebar_form.copied_tooltip') %>"></span>
      </button>
    </div>
  </div>

  <!-- System instructions -->
  <div class="form-control" id="prompt-input-container">
    <label class="label">
      <span class="label-text"><%= t('chatbots.playground.sidebar_form.system_instructions_label') %></span>
    </label>
    <%= f.text_area :system_instructions,
        value: chatbot.system_instructions,
        rows: 10,
        class: "w-full textarea textarea-bordered focus-visible:outline-none focus-visible:ring focus-visible:ring-primary/20" %>
  </div>

  <%= f.hidden_field :name, value: chatbot.name %>

  <!-- Submit button -->
  <div>
    <%= f.button type: "submit",
        id: "button_loader",
        class: "btn btn-primary w-full focus-visible:outline-none focus-visible:ring focus-visible:ring-primary/20" do %>
        <span id="sidebar_submit_button_text">
          <%= t('chatbots.playground.sidebar_form.save_changes_button') %>
        </span>
    <% end %>
  </div>
<% end %>
