<div class="bg-white shadow-md rounded-lg overflow-hidden min-w-[370px]">
  <ul class="menu rounded-box w-full">
    <% chats.each do |chat| %>
      <li class="hover:bg-gray-50 cursor-pointer chat-item">
        <%= link_to chatbot_chat_path(chatbot, chat),
            class: "p-4 flex items-center justify-between",
            data: { turbo_stream: true, turbo_frame: "chat_details", turbo_prefetch: "false" } do %>
            <div class="flex-grow">
              <h3 class="text-lg font-medium">
                +<%= chat.contact_phone %>
              </h3>
              <div class="flex items-center text-sm text-gray-500">
                <% if chat.messages.last.read? %>
                  <div class="relative w-6 h-4">
                    <%= icon "check", variant: "outline", class: "size-4 absolute top-0 left-0 text-blue-500" %>
                    <%= icon "check", variant: "outline", class: "size-4 absolute top-0 left-1 text-blue-500" %>
                  </div>
                <% end %>
                <p class="text-sm truncate"><%= chat.messages.last.content.truncate(32) %></p>
              </div>
            </div>
            <span class="text-xs text-gray-400">12:37 PM</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
