<% content_for :title, t('.page_title_content_for') %>
<% content_for :sub_navigation do %>
  <%= render "shared/chatbot_header" %>
<% end %>

<div class="w-full">
  <h1 class="text-3xl font-bold mb-8"><%= t('.header_title') %></h1>
  <div class="card bg-base-100 shadow-md">
    <div class="card-body p-0 gap-0">
      <% if @chats.any? %>
        <div class="w-full p-4 flex border-b border-gray-200">
          <div class="w-2/5 flex items-center">
            <h2 class="text-2xl font-bold"><%= t('.sub_header_title') %></h2>
          </div>
          <div class="w-3/5 flex justify-end">
            <%= turbo_frame_tag "chat_details" do %>
              <%= render "chatbots/chats/chat_header_info", chat: @chat %>
            <% end %>
          </div>
        </div>
        <div class="flex gap-4">
          <div class="max-h-[500px] min-h-[500px] overflow-y-auto w-2/5">
            <ul class="menu rounded-box w-full">
              <% @chats.each do |chat| %>
                <% user_message = chat.messages.find { |m| m.sender == "user" } %>
                <% assistant_message = chat.messages.find { |m| m.sender == "assistant" } %>
                <li class="flex flex-col justify-between even:bg-gray-100">
                  <%= link_to chatbot_chat_path(@chatbot, chat),
                      class: "p-4 py-4 w-full flex flex-col",
                      data: { turbo_stream: true, turbo_frame: "chat_details", turbo_prefetch: "false" } do %>
                      <div class="grid grid-cols-3 gap-0 w-full">
                        <div class="col-span-2 flex flex-col gap-1">
                          <p class="font-semibold text-sm">
                            🗣️ <%= user_message.content.truncate(24) %>
                          </p>
                          <p class="font-semibold text-sm">
                            🤖 <%= assistant_message.present? ? assistant_message.content.truncate(24) : "..." %>
                          </p>
                        </div>
                        <div class="flex flex-col gap-1 justify-end items-end">
                          <p class="text-xs text-gray-400 flex text-right"><%= icon "phone", variant: "outline", class: "size-4" %> +<%= chat.contact_phone %></p>
                          <p class="text-xs text-gray-400 text-right"><%= time_ago_in_words(chat.created_at, locale: :en).gsub(/\Aabout\s/i, '').capitalize %> ago</p>
                        </div>
                      </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="p-4 w-3/5 max-h-[500px] min-h-[500px] overflow-y-auto" data-controller="chat-scroll">
            <%= turbo_frame_tag "chat_messages" do %>
              <%= render "chatbots/chats/chat", chat: @chat %>
            <% end %>
          </div>
        <% else %>
          <div class="p-8 min-h-[400px] w-full h-full flex flex-col items-center justify-center">
            <div class="flex flex-col items-center justify-center gap-4">
            <% if @chatbot.waba.present? %>
              <p class="text-center text-md text-gray-800"><%= t('.empty_state_waba_present') %></p>
              <%= icon "chat-bubble-left", variant: "outline" %>
            <% else %>
                <p class="text-center text-md text-gray-800 text-md max-w-md"><%= t('.empty_state_no_waba') %></p>
                <%= link_to t('.connect_waba_button'), chatbot_integrations_path(@chatbot), class: "btn btn-primary" %>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
