<div class='flex min-h-screen'>
  <!-- Left side with form -->
  <div class='w-full p-6 md:p-8 flex flex-col justify-center'>
    <div class='w-full max-w-sm mx-auto'>
      <!-- Logo -->
      <div class='mb-6'>
        <%= image_tag "https://odisea.nyc3.cdn.digitaloceanspaces.com/odichat/assets/logo.svg", class: "w-32", alt: "Logo" %>
      </div>

      <h1 class='text-2xl md:text-3xl font-bold mb-2'>Reset your password</h1>
      <p class='text-base-content/60 mb-6'>Enter your email address and we will send you instructions to reset your password.</p>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'space-y-4', method: :post }) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>

        <div class='form-control w-full'>
          <label class='label'>
            <span class='label-text'>Email</span>
          </label>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input input-bordered w-full focus:outline-none focus-visible:ring focus-visible:ring-primary/50' %>
        </div>

        <div>
          <%= f.submit 'Send me reset password instructions', class: 'btn btn-primary w-full' %>
        </div>
      <% end %>

      <!-- styled shared links -->
      <div class='mt-4 text-center text-sm'>
        <%- if controller_name != 'sessions' %>
          <div class='text-base-content/60'>
            Remembered your password? <%= link_to 'Log in', new_session_path(resource_name), class: 'link link-hover font-medium' %>
          </div>
        <% end %>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <div class='mt-2'>
            No account? <%= link_to 'Sign up', new_registration_path(resource_name), class: 'link link-hover' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
