<%# Flash messages partial %>
<% if flash.any? %>
  <div id="flash" class="fixed top-0 left-0 right-0 z-50 p-4 mx-auto max-w-3xl">
    <% flash.each do |type, message| %>
      <% 
        # Determine the appropriate alert class based on the flash type
        alert_class = case type.to_s
                      when "notice"
                        "alert alert-success"
                      when "alert"
                        "alert alert-error"
                      else
                        "alert alert-info"
                      end
      %>
      <div role="alert" class="<%= alert_class %> mb-2 shadow-lg">
        <% if type.to_s == "notice" %>
          <%= icon "check-circle", variant: "mini" %>
        <% elsif type.to_s == "alert" %>
          <%= icon "x-circle", variant: "mini" %>
        <% else %>
          <%= icon "information-circle", variant: "mini" %>
        <% end %>
        <span><%= message %></span>
        <button class="btn btn-ghost btn-sm" onclick="this.closest('.alert').remove()">
          <%= icon "x-mark", variant: "mini" %>
        </button>
      </div>
    <% end %>
  </div>
<% else %>
  <div id="flash"></div>
<% end %> 