<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <%= link_to root_path, class: "btn btn-ghost text-xl" do %>
      <%= image_tag "https://odisea.nyc3.cdn.digitaloceanspaces.com/odichat/assets/logo.svg", alt: "Logo", class: "h-8 w-auto" %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li class="relative">
          <details>
            <summary>
              <div class="w-6 h-6 bg-radial-[at_25%_25%] from-white via-[#FFC738] to-[#E66429] to-75% rounded-full"></div>
            </summary>
            <ul class="bg-base-100 rounded-t-none p-2 w-[200px] absolute top-full right-0 mt-2 shadow-lg z-10">
              <li><%= link_to current_user.email, "#", class: "hover:bg-base-200" %></li>
              <li><%= link_to "Dashboard", chatbots_path, class: "hover:bg-base-200" %></li>
              <li><%= link_to "Settings", edit_user_registration_path, class: "hover:bg-base-200" %></li>
              <% if Flipper.enabled?(:paywall) %>
                <li><%= link_to "Billing", subscriptions_billing_path, class: "hover:bg-base-200" %></li>
              <% end %>
              <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "hover:bg-base-200" %></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  <% end %>
</div>
