<div id="<%= dom_id chat %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Chatbot:</strong>
    <%= chat.chatbot_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Contact phone:</strong>
    <%= chat.contact_phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Thread:</strong>
    <%= chat.thread_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= chat.source %>
  </div>
</div>
