<% content_for :sub_navigation do %>
  <%= render "shared/chatbot_header" %>
<% end %>

<div class="breadcrumbs mb-8">
  <ul>
    <li>
      <%= link_to root_path do %>
        Home
      <% end %>
    </li>
    <li>
      <%= link_to chatbot_integrations_path(@chatbot), class: "link link-hover" do %>
        Integrations
      <% end %>
    </li>
    <li>
      WhatsApp
    </li>
  </ul>
</div>

<!-- Settings heading -->
<h1 class="text-3xl font-bold mb-8 flex gap-2 items-center">
  <%= image_tag "https://conversalo.nyc3.cdn.digitaloceanspaces.com/wa.svg", class: "w-12 h-12 mr-2" %>
  <span>WhatsApp Business Profile</span>
</h1>

<div class="flex justify-end mb-4">
  <%= link_to "View Templates", chatbot_integrations_waba_templates_path(@chatbot), class: "btn btn-primary", data: { turbo: false } %>
</div>

<!-- Main content area -->
<div class="flex-1 space-y-8">
  <% if !@chatbot.waba.subscribed? %>
    <%= render "shared/banner",
        message: "<b>Subscribe to enable WhatsApp integration.</b> Your chatbot is not subscribed to WhatsApp Business Profile.",
        type: :warning,
        icon: "exclamation-triangle",
        button_text: "Subscribe",
        button_path: subscribe_chatbot_integrations_waba_path(@chatbot),
        button_method: :post %>
  <% end %>

  <div class="card bg-base-100 shadow-md">
    <div class="card-body">
      <h2 class="card-title text-2xl mb-6">Connected Phone Number</h2>
      <div class="overflow-x-auto">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @connected_phone_number&.verified_name || "N/A" %></td>
              <td><%= @connected_phone_number&.display_phone_number || "N/A" %></td>
              <td>
                <div class="flex items-center gap-2">
                  <span class="status <%= @connected_phone_number&.status.downcase == "connected" ? "status-success" : "status-error" %>"></span>
                  <%= @connected_phone_number&.status.downcase.capitalize || "Disconnected" %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 shadow-md">
    <div class="card-body">
      <h2 class="card-title text-2xl mb-6">Business Profile Settings</h2>
      
      <!-- Form with Turbo attributes -->
      <%= turbo_frame_tag "business_profile_form" do %>
        <%= render "form", chatbot: @chatbot, business_profile: @business_profile %>
      <% end %>
    </div>
  </div>

  <% if @chatbot.waba.subscribed? %>
    <div class="divider divider-error my-10">
      <span class="text-error font-bold">Danger Zone</span>
    </div>

    <div class="card bg-base-100 shadow-md border-error">
      <div class="card-body">
        <h2 class="card-title text-error text-2xl">Unsubscribe</h2>
        <p>
          Your <b><%= @chatbot.name %></b> chatbot will no longer be able to send and receive WhatsApp messages (you can always re-subscribe to WhatsApp Business Profile later).
        </p>
        <div class="card-actions mt-4">
          <%= button_to "Unsubscribe", unsubscribe_chatbot_integrations_waba_path(@chatbot), method: :post, class: "btn btn-error focus:outline-none focus-visible:ring focus-visible:ring-error/50", data: { turbo_confirm: "Are you sure you want to unsubscribe this chatbot from your WhatsApp Business Profile?", turbo_submits_with: "Unsubscribing..." } %>
        </div>
      </div>
    </div>
  <% end %>
</div>