<div class="flex gap-2 justify-end">
  <button class="btn btn-primary" onclick="responses_modal.showModal()"><%= t("after_signup.faqs.actions.create_faq") %></button>
  <button class="btn btn-default btn-soft" onclick="pdf_modal.showModal()"><%= t("after_signup.faqs.actions.upload_pdf") %></button>
  <%= link_to next_wizard_path, class: "btn btn-default btn-success" do %>
    <span><%= t("after_signup.faqs.actions.continue") %></span>
    <span class=""><%= icon "chevron-double-right", class: "size-4" %></span>
  <% end %>
  <%= render "after_signup/faqs/modal", chatbot: chatbot, chatbot_response: chatbot_response %>
  <%= render "after_signup/faqs/pdf_upload_modal", chatbot: chatbot %>
</div>
