<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table table-zebra">
    <!-- head -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Trigger</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @leads.each do |lead| %>
        <% next unless lead.persisted? %>
        <tr>
          <td><%= lead.name %> </td>
          <td><%= lead.phone_number %></td>
          <td><%= lead.trigger %></td>
          <td><%= lead.created_at %></td>
          <td class="flex gap-1">
          <%= button_to chatbot_lead_path(@chatbot, lead),
                        method: :delete,
                        form: { data: { turbo: false }},
                        data: { confirm: "Delete this lead?" },
                        class: "text-error hover:text-red-400 hover:cursor-pointer" do %>
            <%= icon "trash", class: "size-4" %>
          <% end %>
            <%#= render partial: "modal",
                       locals: {
                         modal_id: dom_id(lead, :modal),
                         lead: lead,
                         title: "Edit lead",
                         description: "Update lead details",
                         submit_label: "Update lead"
                       } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if defined?(@pagy) && @pagy.pages > 1 %>
  <div class="flex justify-end mt-4">
    <%== pagy_daisy_nav(@pagy) %>
  </div>
<% end %>
