<% content_for :title, t('.page_title_content_for') %>

<div class="container mx-auto max-w-4xl">
  <div class="flex justify-between items-center py-8">
    <div class="flex items-center">
      <h1 class="text-3xl font-bold text-base-content"><%= t('.header_title') %></h1>
    </div>
    <%= link_to new_chatbot_path, class: "btn btn-primary gap-2", data: { turbo: false } do %>
      <%= icon "plus", variant: "mini" %>
      <%= t('.new_chatbot_button') %>
    <% end %>
  </div>

  <div id="chatbots" class="py-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <% if @chatbots.any?%>
        <% @chatbots.each_with_index do |chatbot, index| %>
          <div class="card bg-base-100 shadow-sm hover:shadow-md transition-shadow duration-300">
            <%= link_to chatbot_settings_path(chatbot), class: "card-body p-0" do %>
              <figure class="h-48 bg-base-200">
                <% if chatbot.respond_to?(:image) && chatbot.image.present? %>
                  <%= image_tag chatbot.image, class: "w-full h-full object-cover" %>
                <% else %>
                  <% images = [
                    "https://clars.com/wp-content/uploads/2023/06/2477_1.jpeg",
                    "https://images.squarespace-cdn.com/content/v1/5c49568eb27e3974ef358650/11203d78-c2fb-42e5-8711-736229cbfb36/Gustave-Baumann-PInes-Grand-Canyon-13x13-7990.jpg", "https://clars.com/wp-content/uploads/2023/06/5142_1.jpg",
                    "https://clars.com/wp-content/uploads/2023/06/5142_1.jpg"
                  ] %>
                  <%= image_tag images[index], class: "w-full h-full object-cover rounded-t-lg", alt: t('.chatbot_image_alt') %>
                <% end %>
              </figure>
              <div class="p-4">
                <h3 class="card-title text-base-content"><%= chatbot&.name || "Chatbot #{index + 1}" %></h3>
              </div>  
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="text-center text-base-content my-10"><%= t('.no_chatbots_found') %></p>
      <% end %>
    </div>
  </div>
</div>
