<% content_for :title, "Chatbots" %>

<div class="container mx-auto max-w-4xl">
  <div class="flex justify-between items-center py-8">
    <div class="flex items-center">
      <h1 class="text-3xl font-bold text-base-content">Agents Dashboard</h1>
    </div>
    <%= link_to new_chatbot_path, class: "btn btn-primary gap-2", data: { turbo: false } do %>
      <%= icon "plus", variant: "mini" %>
      Create Agent
    <% end %>
  </div>

  <div id="chatbots" class="py-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <% if @chatbots.any?%>
        <% @chatbots.each do |chatbot| %>
          <div class="card bg-base-100 shadow-sm hover:shadow-md transition-shadow duration-300">
            <%= link_to chatbot_settings_path(chatbot), class: "card-body p-0" do %>
              <figure class="h-48 bg-base-200">
                <% if chatbot.respond_to?(:image) && chatbot.image.present? %>
                  <%= image_tag chatbot.image, class: "w-full h-full object-cover" %>
                <% else %>
                  <svg class="w-16 h-16 text-base-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                  </svg>
                <% end %>
              </figure>
              <div class="p-4">
                <h3 class="card-title text-base-content"><%= chatbot.name %></h3>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="text-center text-base-content my-10">No chatbots found.</p>
      <% end %>
    </div>
  </div>
</div>
